# Apache configuration file
# http://httpd.apache.org/docs/2.2/mod/quickreference.html

# Note: ".htaccess" files are an overhead for each request. This logic should
# be placed in your Apache config whenever possible.
# http://httpd.apache.org/docs/2.2/howto/htaccess.html

# Turning on the rewrite engine is necessary for the following rules and
# features. "+FollowSymLinks" must be enabled for this to work symbolically.

<IfModule mod_rewrite.c>

# Options All and FollowSymLinks are disabled on this server.
# FollowSymLinks is automatically replaced to SymLinksIfOwnerMatch, All is changed heuristically.
	Options +SymLinksIfOwnerMatch
	RewriteEngine On
</IfModule>

# For all files not found in the file system, reroute the request to the
# "index.php" front controller, keeping the query string intact

<IfModule mod_rewrite.c>
    RewriteRule ^about-us/news/ /case-studies [R=301,L]
    RewriteRule ^faq/ /faqs [R=301,L]
    RewriteRule ^contact-booths-garden-studios/ /contact [R=301,L]
    RewriteRule ^vf-flyover-garden-studio-price-list/ /quotations [R=301,L]
    RewriteRule ^qt5-garden-office-pod/ /quotations [R=301,L]
    RewriteRule ^qc5-loline-garden-studio/ /quotations [R=301,L]
    RewriteRule ^qc-hip-roof-garden-studio-prices/ /quotations [R=301,L]
    RewriteRule ^extra-windowsdoors-prices/ /quotations [R=301,L]
    RewriteRule ^rent-a-garden-office/ /i-want-to-rent-a-garden-studio- [R=301,L]
    RewriteRule ^used-studios-for-sale/ / [R=301,L]
    RewriteRule ^gallery/ / [R=301,L]
    RewriteRule ^garden-office-customer-comments/ / [R=301,L]
    RewriteRule ^garden-office-all-over-the-uk/ /visit-studio [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>